<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{% static 'base.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

</head>
<body>
 <div class="login-container">
        <h2>Login</h2>
        {% if error_message %}
            <p class="error">{{ error_message }}</p>
        {% endif %}
        <form id="login-form" method="post" action="{% url 'vose' %}">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
        </form>
    </div>
    <script src="{% static 'js/script.js' %}"></script></body>
</html>